*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
body{
    background-color: #48426d;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#hehe {
    text-align: center;
    padding: 20px;
    background: #f0c38e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #4a4a4a;
}
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
ul li {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: left;
}
ul li i {
    color: #6c63ff;
    margin-right: 10px;
    font-size: 20px;
}
a {
    display: inline-block;
    text-decoration: none;
    background-color: #312c51;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
a:hover {
    background-color: #48426d;
    transform: scale(1.05);
}