body {
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #312c51;
    color: #333;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #f0c38e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
td img{
    width: 50px;
    height: 50px;
    border-radius: 30%;
}
.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #312c51;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.table th{
    border: 2px solid white;
    padding: 12px;
    text-align: center;
}
.table td {
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}
.table th {
    background-color: #312c52;
    color: #f0c38e;
    font-weight: bold;
}
.table td {
    background-color: #f1aa9b;
}
.table tr:nth-child(even) td {
    background-color: #e9827b;
}
.table tbody tr:hover {
    background-color: #e6f7ff;
}
.table:hover{
    cursor: pointer;
}
a {
    display: inline-flex;
    text-decoration: none;
    background-color: #312c51;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
a:hover {
    background-color: #48426d;
    transform: scale(1.05);
}