*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
body{
    background-color: #48426d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    position: absolute;
    top: 10%;
    border: 4px solid black;
    background-color: #f0c38e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 500px;
    padding: 20px;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-image: url(../images/boo.jpg);
    background-clip: text;
    color: transparent;
}
p{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
video{
    position: absolute;
    left: 10%;
}
.linkk{
    color: blue;
    cursor: pointer;
}
a {
    position: absolute;
    bottom: 15%;
    text-decoration: none;
    background-color: burlywood;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
a:hover {
    background-color: powderblue;
    transform: scale(1.05);
}
